version: 2.1

jobs:
  manylinux1_wheels:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Build manylinux1 wheels
          command: |
            IMAGE_NAME='bsolomon1124/manylinux1_protobuf:latest'
            docker container run --rm --volume "${PWD}":/io --workdir /io "$IMAGE_NAME" /io/build-manylinux-whls.sh
      - store_artifacts:
          path: wheelhouse/
      - store_artifacts:
          path: system_info.log
  # N.B. we move the MacOS builds to GitHub Actions because it can be expressed
  # more easily there and builds a whole lot faster to boot.
  # macos_wheels:
  #   macos:
  #     xcode: "11.4.0"
  #   environment:
  #     HOMEBREW_NO_AUTO_UPDATE: 1
  #   steps:
  #     - checkout
  #     - run:
  #         name: Build MacOS wheels
  #         command: |
  #           brew install

workflows:
  version: 2
  build:
    jobs:
      - manylinux1_wheels
